app/code/local/Insync/Taxcodes/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
<types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="taxcodesTaxcodesEntity">
                <all>
                	<element name="value" type="xsd:string" minOccurs="0" />
                    <element name="label" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
			 <complexType name="taxcodesTaxcodesProductTaxClassEntity">
                <all>
                	<element name="value" type="xsd:string" minOccurs="0" />
                    <element name="label" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
			 <complexType name="taxcodesTaxcodesTaxCodeRateEntity">
                <all>
                	<element name="tax_calculation_rate_id" type="xsd:string" minOccurs="0" />
                    <element name="tax_country_id" type="xsd:string" minOccurs="0" />
					<element name="tax_region_id" type="xsd:string" minOccurs="0" />
                    <element name="tax_postcode" type="xsd:string" minOccurs="0" />
					<element name="code" type="xsd:string" minOccurs="0" />
                    <element name="rate" type="xsd:string" minOccurs="0" />
					<element name="zip_is_range" type="xsd:string" minOccurs="0" />
                    <element name="zip_from" type="xsd:string" minOccurs="0" />
					<element name="zip_to" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="taxcodesTaxcodesEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
	                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:taxcodesTaxcodesEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
			 <complexType name="taxcodesTaxcodesProductTaxClassEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
	                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:taxcodesTaxcodesProductTaxClassEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
			 <complexType name="taxcodesTaxcodesTaxCodeRateEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
	                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:taxcodesTaxcodesTaxCodeRateEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="taxcodesTaxcodesListRequest">
        <part name="sessionId" type="xsd:string" />     
    </message>
    <message name="taxcodesTaxcodesListResponse">
        <part name="customerTaxClass" type="typens:taxcodesTaxcodesEntityArray" />
    </message>
	  <message name="taxcodesTaxcodesListProductTaxClassRequest">
        <part name="sessionId" type="xsd:string" />     
    </message>
	 <message name="taxcodesTaxcodesListProductTaxClassResponse">
        <part name="productTaxClass" type="typens:taxcodesTaxcodesProductTaxClassEntityArray" />
    </message>
	<message name="taxcodesTaxcodesListTaxCodeRequest">
        <part name="sessionId" type="xsd:string" />     
    </message>
	 <message name="taxcodesTaxcodesListTaxCodeResponse">
        <part name="taxCodeRate" type="typens:taxcodesTaxcodesTaxCodeRateEntityArray" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="taxcodesTaxcodesList">
            <documentation>Get list of all customer tax class</documentation>
            <input message="typens:taxcodesTaxcodesListRequest" />
            <output message="typens:taxcodesTaxcodesListResponse"/>
        </operation>
		 <operation name="taxcodesTaxcodesListProductTaxClass">
            <documentation>Get list of all product tax class</documentation>
            <input message="typens:taxcodesTaxcodesListProductTaxClassRequest" />
            <output message="typens:taxcodesTaxcodesListProductTaxClassResponse"/>
        </operation>
		<operation name="taxcodesTaxcodesListTaxCode">
            <documentation>Get list of all tax codes and rates</documentation>
            <input message="typens:taxcodesTaxcodesListTaxCodeRequest" />
            <output message="typens:taxcodesTaxcodesListTaxCodeResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="taxcodesTaxcodesList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
		 <operation name="taxcodesTaxcodesListProductTaxClass">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
		<operation name="taxcodesTaxcodesListTaxCode">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>