app/code/local/Insync/Basecurrency/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
<types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="basecurrencyBasecurrencyEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
	                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:basecurrencyBasecurrencyEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
			<complexType name="basecurrencyBasecurrencyEntity">
                <all>
                    <element name="websiteId" type="xsd:string" minOccurs="0" />
                    <element name="websiteCode" type="xsd:string" minOccurs="0" />
					<element name="currencyAllowed" type="xsd:string" minOccurs="0" />
					<element name="currencyBase" type="xsd:string" minOccurs="0" />
					<element name="currencyDefault" type="xsd:string" minOccurs="0" />
					<element name="currencyExchangeRate" type="xsd:string" minOccurs="0" />
				</all>
            </complexType>
        </schema>
    </types>
    <message name="basecurrencyBasecurrencyListRequest">
        <part name="sessionId" type="xsd:string" />
		<part name="currencyTo" type="xsd:string" />
    </message>
    <message name="basecurrencyBasecurrencyListResponse">
        <part name="basecurrency" type="typens:basecurrencyBasecurrencyEntityArray" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="basecurrencyBasecurrencyList">
            <documentation>Get list of all base currencies</documentation>
            <input message="typens:basecurrencyBasecurrencyListRequest" />
            <output message="typens:basecurrencyBasecurrencyListResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="basecurrencyBasecurrencyList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>