app/code/local/Insync/Store/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
<types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="storeStoreEntity">
                <all>
                	<element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="store_code" type="xsd:string" minOccurs="0" />
                    <element name="website_id" type="xsd:string" minOccurs="0" />
                    <element name="website_code" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="storeStoreEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
	                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:storeStoreEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="storeStoreListRequest">
        <part name="sessionId" type="xsd:string" />     
    </message>
    <message name="storeStoreListResponse">
        <part name="stores" type="typens:storeStoreEntityArray" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="storeStoreList">
            <documentation>Get list of all website</documentation>
            <input message="typens:storeStoreListRequest" />
            <output message="typens:storeStoreListResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="storeStoreList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>