app/code/local/Insync/Creditcard/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
<types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="creditcardCreditcardEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
	                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:creditcardCreditcardEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
			<complexType name="creditcardCreditcardEntity">
                <all>
                    <element name="cc_code" type="xsd:string" minOccurs="0" /> 
					<element name="cc_name" type="xsd:string" minOccurs="0" />                    
				</all>
            </complexType>
        </schema>
    </types>
    <message name="creditcardCreditcardListRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="creditcardCreditcardListResponse">
        <part name="creditcard" type="typens:creditcardCreditcardEntityArray" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="creditcardCreditcardList">
            <documentation>Get list of all credit card types</documentation>
            <input message="typens:creditcardCreditcardListRequest" />
            <output message="typens:creditcardCreditcardListResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="creditcardCreditcardList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
